# Packages needed for using this library.
pbr>=0.6,!=0.7,<1.0
anyjson>=0.3.3
iso8601>=0.1.9
# Python 2->3 compatibility library.
six>=1.6.0
# Very nice graph library
networkx>=1.8
Babel>=1.3
# Used for backend storage engine loading.
stevedore>=0.14
# Backport for concurrent.futures which exists in 3.2+
futures>=2.1.3
