# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

# See: https://bugs.launchpad.net/pbr/+bug/1384919 for why this is here...
pbr>=0.6,!=0.7,<1.0

# Packages needed for using this library.

# Python 2->3 compatibility library.
six>=1.7.0

# Very nice graph library
networkx>=1.8

# Used for backend storage engine loading.
stevedore>=1.1.0  # Apache-2.0

# Used for structured input validation
jsonschema>=2.0.0,<3.0.0

# For common utilities
oslo.utils>=1.2.0                       # Apache-2.0
oslo.serialization>=1.2.0               # Apache-2.0
